ACTIVE_PROFILE=dev
LOG_LEVEL=INFO
#TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=suiteonix
POSTGRES_PORT=5432
DDL_AUTO=none
#DDL_AUTO=update

# MongoDB Configuration
MONGODB_USERNAME=mongo
MONGODB_PASSWORD=mongo
MONGODB_DATABASE=suiteonix
MONGODB_PORT=27017

# MinIO Configuration
MINIO_ACCESS_KEY=bVt3hGhNIcFkFxSmBpU6
MINIO_SECRET_KEY=VcqcSZJOv8hNi3NI1SoVcj0f5gBNxjEXiDr3CG8E
#MINIO_ACCESS_KEY=minioadmin
#MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=suiteonix
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# MailHog Configuration
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
MAIL_DOMAIN=suiteonix.com
MAIL_FROM=admin@suiteonix.com
# Application Configuration
SPRING_PROFILES_ACTIVE=dev
#./server/setup.sh
#SERVER_HOST=suiteonix.com
#SERVER_PASSWORD=E9dL4v7OAvOlpl1Ymhn2zf3ggo8MSC