# Application Configuration
ACTIVE_PROFILE=staging
SPRING_PROFILES_ACTIVE=staging
LOG_LEVEL=INFO

# PostgreSQL Configuration
POSTGRES_HOST=postgres.suiteonix.com
POSTGRES_USER=suiteonix
POSTGRES_PASSWORD=VthmSnRtSkigyDkMPi7Eqnp6qsYGht
POSTGRES_DB=suiteonix
POSTGRES_PORT=5432

# MongoDB Configuration
MONGODB_HOST=mongo.suiteonix.com
MONGODB_USERNAME=suiteonix
MONGODB_PASSWORD=pjUCmvko8iQOEyWcPkjkMvd9GgzhXT
MONGODB_DATABASE=suiteonix
MONGODB_PORT=27017

# MinIO Configuration
MINIO_ENDPOINT=https://file.suiteonix.com
MINIO_ACCESS_KEY=suiteonix
MINIO_SECRET_KEY=DAB5OHkUIrgv9qZbJqxlNb6DhoMla9
MINIO_BUCKET=suiteonix
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Mail Configuration
MAIL_HOST=smtp.resend.com
MAIL_SMTP_PORT=587
MAIL_USERNAME=resend
MAIL_PASSWORD=re_HcsZpTr6_JHUjKe36TRAXgU77tAp6pj7Z
MAIL_DOMAIN=suiteonix.com
MAIL_FROM=no-reply@suiteonix.com

REPOSITORY_USERNAME=suiteonix
REPOSITORY_PASSWORD=QPV8VeKqaQA8g4RqjuNL7aCeskCsje

SUPER_ADMIN_ID=sa_3d3b4ed1-720a-472f-8936-c550999aac90
SUPER_ADMIN_MAIL=abelmichael@suiteonix.com
SUPER_ADMIN_PASSWORD=@TESTPassword123